@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../tailwind-css/style.css";

*{
  margin: 0;
  padding: 0;
}


html{
  user-select: none;
  scroll-behavior: smooth;
}


body{
  @apply  flex flex-col  bg-no-repeat;
  background: linear-gradient(145deg, rgb(255, 228, 232) , rgb(225, 230, 255) , white);
  min-height: 100vh;
}
